header, #about{
    background-color: #1ABC9C;
    color: white;
}

.navbar-toggler-icon{
    filter: invert(100%);
}

.jumbotron hr,
#portfolio hr,
#about hr,
#contactme hr{
    height: .2rem;
    opacity: 1;
    border-radius: .1rem;
}

.jumbotron i,
#portfolio i,
#about i,
#contactme i{
    font-size: 1.5rem;
}

#portfolio hr{
    background-color: #2C3E50;
}

#portfolio i{
    color: #2C3E50;
}

#textarea{
    display: block;
    width: 100%;
}

.ms_color_bord{
    border: none;
    border-bottom: 1px solid gray;
}

footer{
    color: white;
    background-color: #3A546D;
}

footer .copy{
    background-color: #132435;
}

.ms_external_border::before{
    content: '';
    border-radius: 50%;
    padding: .7rem;
    border: 1px solid white;
    cursor: pointer;
}