header, .about{
    background-color: #1ABC9C;
    color: white;
}

.jumbotron hr,
.portfolio hr,
.about hr{
    height: .2rem;
    opacity: 1;
}

.jumbotron i,
.portfolio i,
.about i{
    font-size: 1.5rem;
}

.portfolio hr{
    background-color: #2C3E50;
}

.portfolio i{
    color: #2C3E50;
}